*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* 1- Header Section----------
------------------- */
header nav{
    background-color: #ffffff; 
}

header nav .logo_container .logo{
    width: 80px;
    max-width: 81px;
    height: 92px;
    max-height: 93px; 
}

header nav .logo_container a.navbar-brand{
    color: #000000; 
    font-weight: 700;
    font-style: italic;
}

header nav .nav-item a.nav-link:link {
    color: #222222; 
    font-weight: 500;
}

header nav .nav-item a.nav-link:active,header nav .nav-item a.nav-link:focus {
    color: #003297 !important; 
}


  @media screen and (max-width: 992px) {
    header nav .logo_container a.navbar-brand {
    font-size: 16px;
    }
  }

  @media screen and (min-width: 392px) and (max-width: 576px)  {
    header nav .logo_container .logo{
        width: 60px;
        max-width: 61px;
        height: 72px;
        max-height: 73px; 
    }
    header nav .logo_container a.navbar-brand {
      font-size: 16px;
    }
  }


  @media screen and (max-width: 392px) {
    header nav .logo_container .logo{
        width: 45px;
        max-width: 46px;
        height: 57px;
        max-height: 58px; 
    }
    header nav .logo_container a.navbar-brand {
      font-size: 11px;
    }
  }


  @media screen and (max-width: 335px) {
    header nav .logo_container a.navbar-brand {
      font-size: 11px;
    }
  }


  /* 2- Footer  Section----------
------------------- */

.footer_section footer{
    background-color: #222222;
    padding: 80px 10px;  
}

.footer_section footer .quick_links_container{
    min-height: 60px; 
}

.footer_section footer .quick_links{
    color: #ffffff;
}
.footer_section footer .quick_links a.nav-link:link {
    color: #ffffff; 
    font-weight: 500;
}

.footer_section footer .quick_links a.nav-link:active,.footer_section footer .quick_links a.nav-link:focus {
    color: #003297; 
    /* color: #053087;  */
}


@media screen and (max-width: 576px) {
    .footer_section footer{
        padding: 60px 10px;  
    }
  }

  @media screen and (max-width: 392px) {
    .footer_section footer .img_box{
        width: 50px;
        max-width: 51px;
        height: 62px;
        max-height: 63px; 
    }

    .footer_section footer .quick_links{
        font-size: 14px;
    }
    .footer_section footer .quick_links_container p{
        font-size: 14px;
    }

    .footer_section footer .socail_icon_img_box img{
        width: 150px;
    }
  }


/* 2- Contact Form Section----------
------------------- */

.contact_form_section .contact_form_heading_container h1{
    font-size: 60px;
    font-weight: bold;
}
.contact_form_section .contact_form_heading_container h4{
    font-size: 16px;
}

.contact_form_section .contact_form_content_container .custom_label{
    margin-left: 1rem;
    color: #222222;
    font-size: 18px;
}
.contact_form_section .contact_form_content_container .custom_input{
    border-radius: 22px;
    border-color: #a1a1a1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact_form_section .contact_form_content_container .custom_input::placeholder{
    color: #a1a1a1;
    font-size: 14px;
}
.contact_form_section .contact_form_content_container .custom_btn{
    min-width: 200px;
    border-radius: 32px;
    background-color: #003297;
    color: #ffffff;
    font-size: 20px;
}

@media screen and (min-width: 576px) and (max-width: 768px)  {
/* @media screen and (max-width: 768px) { */
    .contact_form_section .contact_form_heading_container h1{
        font-size: 50px;
        font-weight: bold;
    }
    .contact_form_section .contact_form_heading_container h4{
        font-size: 14px;
    }
    .contact_form_section .contact_form_content_container .custom_label{
        font-size: 14px;
    }
    .contact_form_section .contact_form_content_container .custom_input{
        border-radius: 22px;
        border-color: #a1a1a1;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .contact_form_section .contact_form_content_container .custom_btn{
        min-width: 160px;
        border-radius: 32px;
        background-color: #003297;
        color: #ffffff;
        font-size: 16px;
    }

}


@media screen and (max-width: 576px)  {
    .contact_form_section .contact_form_heading_container h1{
        font-size:34px;
        font-weight: bold;
    }
    .contact_form_section .contact_form_heading_container h4{
        font-size: 11px;
    }
    .contact_form_section .contact_form_content_container .custom_label{
        font-size: 11px;
    }
    .contact_form_section .contact_form_content_container .custom_input{
        border-radius: 22px;
        border-color: #a1a1a1;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .contact_form_section .contact_form_content_container .custom_btn{
        min-width: 140px;
        border-radius: 32px;
        background-color: #003297;
        color: #ffffff;
        font-size: 12px;
    }
}



/* 2- Events Section----------
------------------- */
.special_events_heading_wrapper h1 {
        font-size: 60px;
        font-weight: 700;
        color: #000077;
}

h1.upcomming_events_heading {
    font-size: 30px;
    font-weight: 700;
    color: #000077;
}

/* .special_events_curve_heading_wrapper {
    position: relative;
    width: 400px;
    border-radius: 50%;
    transform: rotate(-44deg);
    }

    h1 span {
    font: 60px Monaco, MonoSpace;
    font-weight: 600;
    color: #000077;
    height: 300px;
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
    }

    .char1 {
    transform: rotate(4deg);
    }

    .char2 {
    transform: rotate(11deg);
    }

    .char3 {
    transform: rotate(18deg);
    }

    .char4 {
    transform: rotate(24deg);
    }

    .char5 {
    transform: rotate(30deg);
    }

    .char6 {
    transform: rotate(37deg);
    }

    .char7 {
    transform: rotate(43deg);
    }

    .char8 {
    transform: rotate(50deg);
    }

    .char9 {
    transform: rotate(54deg);
    }

    .char10 {
    transform: rotate(60deg);
    }

    .char11 {
    transform: rotate(66deg);
    }

    .char12 {
    transform: rotate(73deg);
    }

    .char13 {
    transform: rotate(79deg);
    }

    .char14 {
    transform: rotate(85deg);
    } */

    .special_events_container{
        border: 2px solid #000000;
        border-radius: 12px;
        margin: 10px 0;
        
    } 
    .special_events_container .year_heading_wrapper{
        background-color: #000000;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        text-align: center;
    }
    .special_events_container .year_heading_wrapper .year_heading{
        font-size: 47px;
        color: #003297;
        padding: 3px 0;
    }
    .special_events_container .event_detail_container .event_detail_wrapper:nth-child(even) {
        background: #f1f1f1;
    }
    .special_events_container .event_detail_container .event_detail_wrapper:last-child {
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        margin-bottom: 0;
    }
    .special_events_container .event_detail_wrapper{
        text-align: center;
        padding: 10px 0px;
        margin: 10px 0px; 
    }
    .special_events_container .event_detail_wrapper .month_heading{
        font-size: 24px;
        color: #003297;
        margin: 10px 0px;
    }
    .special_events_container .event_detail_wrapper .description{
        font-size: 18px;
        color: #222222;
        margin: 10px 0px;
        margin-bottom: 0;
        overflow-wrap: break-word;
    }
    .special_events_container .event_detail_wrapper .sub_description{
        color: #003297;
        margin: 0;
        margin-bottom: 10px;
        overflow-wrap: break-word;
    }


    

    /* 2- About Section----------
------------------- */

.about_section .about_heading_container h3{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 8px;
}
.about_section .about_heading_container h1{
    font-size: 60px;
    font-weight: bold;
}
.about_section .about_heading_container h4{
    font-size: 16px;
    font-weight: 500;
    padding-top: 8px;
}
.about_section .icon_box{
    width: 37px;
    height: 52px;
}
.about_section .icon_box img{
    width: 100%;
    height: 100%;
}

.about_section .about_detail_card .card-body h5{
    font-size: 18px;
    color: #003297;
}

.about_section .about_detail_card .card-body p{
    font-size: 16px;
    color: #222222;
    line-height: 1.4
}

@media screen and (max-width: 768px) {
    .about_section .about_heading_container h3{
        font-size: 20px;
    }
    .about_section .about_heading_container h1{
        font-size: 50px;
        font-weight: bold;
    }
    .about_section .about_heading_container h4{
        font-size: 14px;
    }
  }


  /* @media screen and (max-width: 392px) { */
  @media screen and (max-width: 576px) {
    .about_section .about_heading_container h3{
        font-size: 18px;
    }
    .about_section .about_heading_container h1{
        font-size: 35px;
        font-weight: bold;
    }
    .about_section .about_heading_container h4{
        font-size: 14px;
    }
  }



    /* 2- hompage section----------
------------------- */

.homepage_page_banner_section{
    position: relative;
}

.team_section_section h3{
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    color:#222222;
}
.team_section_section p{
    font-size: 16px;
    margin: 0;
    padding: 8px 0;
    color:#222222;
}
.team_section_section h1{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    color:#222222;
    margin-bottom: -15px;
}


@media screen and (min-width: 576px) and (max-width: 992px)  {
    .team_section_section h3{
        font-size: 28px;
        font-weight: 500;
        margin: 0;
        color:#222222;
    }
    .team_section_section p{
        font-size: 14px;
        margin: 0;
        padding: 8px 0;
        color:#222222;
    }
    .team_section_section h1{
        font-size: 42px;
        font-weight: bold;
        margin: 0;
        color:#222222;
    }
    }

@media screen and (min-width: 376px) and (max-width: 576px)  {
    .team_section_section h3{
        font-size: 22px;
        font-weight: 500;
        margin: 0;
        color:#222222;
    }
    .team_section_section p{
        font-size: 11px;
        margin: 0;
        padding: 8px 0;
        color:#222222;
    }
    .team_section_section h1{
        font-size: 26px;
        font-weight: bold;
        margin: 0;
        color:#222222;
    }
    }

@media screen and (max-width: 376px) {
    .team_section_section h3{
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        color:#222222;
    }
    .team_section_section p{
        font-size: 9px;
        margin: 0;
        padding: 8px 0;
        color:#222222;
    }
    .team_section_section h1{
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        color:#222222;
    }
    }


.detail_section{
    /* min-height: 425px; */
    background:url(../assets/images/detail_section_bg_img.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}



    /* 2- about section----------
------------------- */
.about_wrapper_section{
    /* min-height: 425px; */
    background:url(../assets/images/about_section_bg_img.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.about_wrapper_section .about_content_wrapper h1{
    margin: 15px 0 20px 0 !important;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    color:#222222;
}
.about_wrapper_section .about_content_wrapper p{
    font-size: 16px;
    margin: 10px 0;
    color:#222222;
    text-align: left;
    line-height: 1.5;
    padding: 0 5px;
}

.about_wrapper_section .about_content_wrapper h4{
    margin: 32px 0 0 0;
    text-transform: uppercase;
}

@media screen and (min-width: 992px)   {
    .about_wrapper_section .about_content_wrapper h1{
        font-size: 40px;
        font-weight: bold;
        margin: 0;
        color:#222222;
    }
    .about_wrapper_section .about_content_wrapper p{
        font-size: 16px;
        margin: 12px 0;
        color:#222222;
    }
    .about_wrapper_section .about_content_wrapper h4{
        margin: 3rem 0 0 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px)  {

    .about_wrapper_section .about_content_wrapper h1{
        font-size: 32px;
        font-weight: bold;
        margin: 0;
        color:#222222;
    }
    .about_wrapper_section .about_content_wrapper p{
        font-size: 14px;
        margin: 12px 0;
        color:#222222;
    }
    .about_wrapper_section .about_content_wrapper h4{
        margin: 3rem 0 0 0;
        font-size: 20px;
    }
}

@media screen and (min-width: 376px) and (max-width: 576px)  {

    .about_wrapper_section .about_content_wrapper h1{
        font-size: 28px;
        font-weight: bold;
        margin: 0;
        color:#222222;
    }
    .about_wrapper_section .about_content_wrapper p{
        font-size: 11px;
        margin: 12px 0;
        color:#222222;
    }
    .about_wrapper_section .about_content_wrapper h4{
        margin: 2rem 0 0 0;
        font-size: 16px;
    }
}


@media screen and (max-width: 376px)  {
    .about_wrapper_section .about_content_wrapper h1{
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        color:#222222;
    }
    .about_wrapper_section .about_content_wrapper p{
        font-size: 11px;
        margin: 12px 0;
        color:#222222;
    }
    .about_wrapper_section .about_content_wrapper h4{
        margin: 2rem 0 0 0;
        font-size: 14px;
    }
}


    /* 2- journey section----------
------------------- */
.journey_wrapper_section .journey_content_wrapper h1{
    font-size: 65px;
    font-weight: bold;
    margin: 0;
    color:#222222;
}
.journey_wrapper_section .journey_content_wrapper p{
    font-size: 16px;
    margin: 10px 0;
    color:#222222;
}

.journey_wrapper_section .journey_content_wrapper h4{
    margin: 32px 0 0 0;
}

@media screen and (min-width: 992px)   {
    .journey_wrapper_section .journey_content_wrapper h1{
        font-size: 65px;
        font-weight: bold;
        margin: 0;
        color:#222222;
    }
    .journey_wrapper_section .journey_content_wrapper p{
        font-size: 16px;
        margin: 12px 0;
        color:#222222;
    }
    .journey_wrapper_section .journey_content_wrapper h4{
        margin: 3rem 0 0 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px)  {

    .journey_wrapper_section .journey_content_wrapper h1{
        font-size: 45px;
        font-weight: bold;
        margin: 0;
        color:#222222;
    }
    .journey_wrapper_section .journey_content_wrapper p{
        font-size: 14px;
        margin: 12px 0;
        color:#222222;
    }
    .journey_wrapper_section .journey_content_wrapper h4{
        margin: 3rem 0 0 0;
        font-size: 20px;
    }
}

@media screen and (min-width: 376px) and (max-width: 576px)  {

    .journey_wrapper_section .journey_content_wrapper h1{
        font-size: 34px;
        font-weight: bold;
        margin: 0;
        color:#222222;
    }
    .journey_wrapper_section .journey_content_wrapper p{
        font-size: 11px;
        margin: 12px 0;
        color:#222222;
    }
    .journey_wrapper_section .journey_content_wrapper h4{
        margin: 3rem 0 0 0;
        font-size: 16px;
    }
}



/* 2- National Events section----------
------------------- */

.national_events_section .national_events_heading_container h1{
    font-size: 60px;
    font-weight: bold;
    color: #222222;
}

.national_events_section .national_events_detail_card{
    color: #fffeff;
    background-color: #001e5b;
    border-radius: 32px;
}

@media screen and (min-width: 576px) and (max-width: 768px)  {
        .national_events_section .national_events_heading_container h1{
            font-size: 50px;
            font-weight: bold;
        }

        .national_events_section .national_events_detail_card h4{
            font-size: 20px;
        }

        .national_events_section .national_events_detail_card p{
            font-size: 14px;
        }
}

/* @media screen and (max-width: 576px)  { */
@media screen and (min-width: 376px) and (max-width: 576px)  {
    .national_events_section .national_events_heading_container h1{
        font-size:30px;
        font-weight: bold;
    }
    .national_events_section .national_events_detail_card h4{
        font-size: 16px;
    }

    .national_events_section .national_events_detail_card p{
        font-size: 12px;
    }
}

@media screen and (max-width: 376px)  {
    .national_events_section .national_events_heading_container h1{
        font-size:24px;
        font-weight: bold;
    }

    .national_events_section .national_events_detail_card h4{
        font-size: 14px;
    }

    .national_events_section .national_events_detail_card p{
        font-size: 10px;
    }
}




    /* 2- schedule section----------
------------------- */
.schedule_section_wrapper{
    background-color: #1d1d1d; 
    padding: 3rem 0;
}

.schedule_section_wrapper .schedule_section_content_wrapper{
    color: #ffffff;
    text-align: center;
}


.schedule_section_wrapper .schedule_section_content_wrapper h1{
    margin: 0 0 20px 0 !important;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.schedule_section_wrapper .schedule_section_content_wrapper p{
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.5;
    padding: 0 5px;
}

.schedule_section_wrapper .schedule_section_content_wrapper h4{
    margin: 32px 0 0 0;
    text-transform: uppercase;
}



@media screen and (max-width: 992px)   {
    .schedule_section_wrapper .schedule_section_content_wrapper h1{
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }
    .schedule_section_wrapper .schedule_section_content_wrapper p{
        font-size: 16px;
        margin: 12px 0;
    }
    .schedule_section_wrapper .schedule_section_content_wrapper h4{
        margin: 3rem 0 0 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px)  {

    .schedule_section_wrapper .schedule_section_content_wrapper h1{
        font-size: 32px;
        font-weight: bold;
        margin: 0;
    }
    .schedule_section_wrapper .schedule_section_content_wrapper p{
        font-size: 14px;
        margin: 12px 0;
    }
    .schedule_section_wrapper .schedule_section_content_wrapper h4{
        margin: 3rem 0 0 0;
        font-size: 20px;
    }
}

@media screen and (min-width: 376px) and (max-width: 576px)  {

    .schedule_section_wrapper .schedule_section_content_wrapper h1{
        font-size: 28px;
        font-weight: bold;
        margin: 0;
    }
    .schedule_section_wrapper .schedule_section_content_wrapper p{
        font-size: 11px;
        margin: 12px 0;
    }
    .schedule_section_wrapper .schedule_section_content_wrapper h4{
        margin: 2rem 0 0 0;
        font-size: 16px;
    }
}


@media screen and (max-width: 376px)  {
    .schedule_section_wrapper .schedule_section_content_wrapper h1{
        font-size: 22px;
        font-weight: bold;
        margin: 0;
    }
    .schedule_section_wrapper .schedule_section_content_wrapper p{
        font-size: 11px;
        margin: 12px 0;
    }
    .schedule_section_wrapper .schedule_section_content_wrapper h4{
        margin: 2rem 0 0 0;
        font-size: 14px;
    }
}




    /* 2- standings----------
------------------- */

.standings_section{
    /* min-height: 425px; */
    background:url(../assets/images/standing_content_section_bg_img.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.standings_section .standings_section_content_wrapper .heading{
    font-size: 50px;
    font-weight: bold;
}


@media screen and (min-width: 576px) and (max-width: 768px)  {
    .standings_section .standings_section_content_wrapper .heading{
        font-size: 38px;
        font-weight: bold;
    }
}

@media screen and (max-width: 576px)  {
    .standings_section .standings_section_content_wrapper .heading{
        font-size:28px;
        font-weight: bold;
    }
}


    /* 2- standings_world_boys world----------
------------------- */

.standings_world_boys_section .standings_world_boys_heading_container .heading{
    font-size: 50px;
    font-weight: bold;
}

.standings_world_boys_section .standings_world_boys_heading_container .sub_heading{
    font-size: 24px;
    font-weight: 500;
}


@media screen and (min-width: 576px) and (max-width: 768px)  {
    .standings_world_boys_section .standings_world_boys_heading_container .heading{
        font-size: 38px;
        font-weight: bold;
    }
    .standings_world_boys_section .standings_world_boys_heading_container .sub_heading{
        font-size: 18px;
    }

}
    
    
@media screen and (max-width: 576px)  {
    .standings_world_boys_section .standings_world_boys_heading_container .heading{
        font-size:28px;
        font-weight: bold;
    }
    .standings_world_boys_section .standings_world_boys_heading_container .sub_heading{
        font-size: 14px;
    }
}







    /* 2- utlities classes----------
------------------- */

    .custom_btn{
        min-width: 160px;
        border-radius: 32px;
        background-color: #003297;
        color: #ffffff;
        font-size: 16px;
        margin: 3px 0px;
    }

    .custom_btn:hover,.custom_btn:active,.custom_btn:focus{
        background-color: #003297 !important;
    }

    .custom_btn2{
        min-width: 160px;
        border-radius: 32px;
        background-color: #000077;
        color: #ffffff;
        font-size: 16px;
        margin: 3px 0px;
    }

    .custom_btn2:hover,.custom_btn2:active,.custom_btn2:focus{
        background-color: #000077 !important;
    }

    .custom_img_btn{
        min-width: 160px;
        border-radius: 32px;
        background-color: rgb(0 17 56 / 60%);
        color: #ffffff;
        font-size: 24px;
        margin: 3px 0px;
        position: absolute;
        bottom: 104px;
        right: 210px;
        padding: 5px 60px;
        border: 2px solid #667493;
        outline: 0px;
    }

    .custom_img_btn:hover,.custom_img_btn:active,.custom_img_btn:focus{
        background-color: rgb(0 17 56 / 60%) !important;
        border: 2px solid #667493 !important;
    }

    .mt300{
        margin-top: 300px;
    }

    .bg_color_blue{
         background-color: #003297 !important;
    }

    .color_blue{
         color: #003297;
    }
    
    .badge_blue{
        background-color: #003297;
        border-radius: 32px;
        padding: 8px 40px;
        margin: 5px 0;
        min-width: 344px;
    }

    @media screen and (min-width: 576px) and (max-width: 992px)  {
        .badge_blue{
            font-size: 14px;
        }
    }
    @media screen and (min-width: 376px) and (max-width: 576px)  {
        .badge_blue{
            min-width: 245px;
            font-size: 12px;
        }
    }

    @media screen and (max-width: 376px)  {
        .badge_blue{
            min-width: 245px;
            font-size: 10px;
        }
    }

    .badge_md_blue{
        background-color: #003297;
        border-radius: 32px;
        padding: 12px 40px;
        margin: 5px 0;
        min-width: 344px;
        font-size: 24px;
    }

    @media screen and (min-width: 576px) and (max-width: 992px)  {
        .badge_md_blue{
            font-size: 18px;
            padding: 10px 40px;
        }
    }
    @media screen and (min-width: 376px) and (max-width: 576px)  {
        .badge_md_blue{
            min-width: 245px;
            font-size: 14px;
            padding: 10px 40px;
        }
    }

    @media screen and (max-width: 376px)  {
        .badge_md_blue{
            min-width: 245px;
            font-size: 12px;
            padding: 10px 40px;
        }
    }

/* 2- Header FeaturedBox----------
------------------- */
/* .featured_box{
    background: url(../images/banner1.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 136px 0;
}


.featured_box .featured_text h1{
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    margin: 0;
    padding-bottom: 15px;

}

.featured_box .featured_text p{
    font-size: 16px;
    color: #8c9cae; 
    margin: 0;
    padding-bottom: 30px;

}

.featured_box .featured_btn a{
    color: #fff;
    background-color: #00bc9c;
    font-size: 16px;
    margin: 0;
    padding: 12px 25px;
    border-radius: 0;
    border: none;
    outline: none;
    cursor: pointer !important;
} */

